html {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: sans;
    padding: 2em 5em 0em 5em;
}

p {
    margin: 0.2em;
}

.divider {
    clear: both;
}

.nowrap {
  white-space: nowrap;
}

a, a:visited {
  color: #44c;
}

a:hover {
  color: #c44;
}

#photo {
    float: left;
    width: 30%;
    margin-right: 3%;
}

#details {
    float: left;
    width: 30%;
    margin-right: 3%;
    font-size: large;
}

#details #name {
    font-weight: bold;
}

#details #email {
    font-family: courier;
    font-size: 12pt;
}

#details #address {
    margin-top: 1em;
    font-size: 11pt;
}

#affiliation {
    float: left;
    width: 34%;
}

#affiliation img {
    width: auto; /* = 30% */
    align: right;
}

#publications {
    padding-top: 1em;
}

.title {
    font-weight: bold;
}

.note {
  font-style: italic;
  font-size: 11pt;
}

.date {
  font-size: 11pt;
}

.link {
  font-style: normal;
}

